/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: inherit;
  font: inherit;
  text-decoration: none;
  list-style: none;
  border: none;
}

button,
select,
input,
a,
textarea {
  all: unset;
  display: inline-block;
  cursor: pointer;
}

svg {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

/************** Body **************/

/* Add global styles here */
body {
  font-family: var(--font-main);
  background-color: var(--color-white);
  color: var(--color-black);
}
