# Database configuration
DB_HOST=localhost          # The hostname of your database server (e.g., localhost, 127.0.0.1, or a remote IP)
DB_PORT=3306               # The port your database server is running on (default for MySQL: 3306)
DB_NAME=template_db        # The name of the database to connect to
DB_USER=root               # The username for the database connection
DB_PASSWORD=your-password  # The password for the database connection

# Mail configuration
MAIL_HOST=test.xxxx.io
MAIL_PORT=2525
MAIL_USERNAME=t717621761
MAIL_PASSWORD=t717621761
MAIL_FROM=test@project-nexora.com
MAIL_FROM_NAME=Test-Dev
