/* Global variables */
:root {
  /* Fonts */
  --font-main: "Montserrat", sans-serif;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  /* Fonts sizes */
  --text-size-body-slim: 0.85rem;
  --text-size-body: 1rem;
  --text-size-title-large: 1.4rem;
  --text-size-display-medium: 2.8rem;
  --text-size-primary-title: 4.6rem;

  /* Borders */
  --border-radius-extra-small: 0.25rem;
  --border-radius-small: 0.5rem;
  --border-radius-medium: 1rem;
  --border-radius-circle: 50%;

  /* Margin and padding */
  --margin-small: 0.5rem;
  --margin-medium: 1rem;
  --margin-large: 1.5rem;
  --margin-extra-large: 2.5rem;
  --margin-extra: 4rem;

  --padding-small: 0.5rem;
  --padding-medium-small: 0.75rem;
  --padding-medium: 1rem;
  --padding-large: 1.5rem;
  --padding-extra-large: 2rem;
  --padding-extra: 3rem;

  /* Gaps */
  --gap-small: 0.5rem;
  --gap-medium-small: 0.75rem;
  --gap-medium: 1rem;
  --gap-large: 1.5rem;
  --gap-extra-large: 2rem;
  --gap-extra-extra-large: 3rem;
  --gap-extra: 4rem;
}
